.modal_control {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_control.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal_control_bg {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.762);
  width: 100%;
  height: 100%;
}
.modal_control .modal_content {
  display: flex;
  box-shadow: 0px 0px 20px black;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  border-radius: 10px;
  background: green;
  position: relative;
  padding: 30px;
}
.modal_control .modal_content p,
.modal_control .modal_content h2 {
  padding: 10px;
  margin-top: -10px;
  color: white;
}
.modal_control_close {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 500ms;
  position: absolute;
  padding: 0;
  width: 120px;
  height: 30px;
  bottom: 15px;
  outline: none;
  appearance: none;
  font-weight: bold;
}
.modal_control_close:hover {
  transform: translate(0, -5px);
  transition-duration: 500ms;
  color: black;
}

header a {
  text-decoration: none;
  color: white;
}

header {
  margin: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(90deg, black, rgb(61, 59, 59));
}

.title {
  text-shadow: 1px 1px grey;
  margin-left: 15%;
  align-self: center;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  text-align: left;
}
table th,
table td {
  padding: 8px;
  border: 1px solid #ddd;
}
table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

form {
  margin: 0 auto;
  font-size: 16px;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.edit,
.delete {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 500ms;
}
.edit:hover,
.delete:hover {
  transform: translate(0, -5px);
  transition-duration: 500ms;
  color: black;
}

.submit_button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column: 2/3;
  grid-row: 4;
}

.env {
  align-self: center;
  margin-right: 15%;
}
.env .update_env_button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 500ms;
}
.env .update_env_button:hover {
  transform: translate(0, -5px);
  transition-duration: 500ms;
  color: black;
}

#environment-select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  padding: 8px;
  width: 180px;
}
#environment-select:focus {
  outline: none;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
#environment-select option {
  background-color: #fff;
  color: #333;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=main.css.map */
