$whiteText: #e6edf3;
$greyBlack: #151b23;
$greyLight: #30363d;
@mixin coverBackground {
    background-color: rgba(245, 255, 255, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
@mixin button {
    background-color: #238637;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 500ms;
    &:hover {
        transform: translate(0, -5px);
        transition-duration: 500ms;
        color: black;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
