.loader {
    display: none;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    z-index: 10;

    &:before {
        content: '';
        @include coverBackground;
        z-index: -1;
    }
    &_content {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: spin 2s linear infinite;
    }
}
