.modal_control {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    &_bg {
        @include coverBackground;
    }
    .modal_content {
        display: flex;
        box-shadow: 0px 0px 20px black;
        justify-content: center;
        flex-wrap: wrap;
        width: 260px;
        border-radius: 10px;
        background: green;
        position: relative;
        padding: 30px;
        p,
        h2 {
            padding: 10px;
            margin-top: -10px;
            color: white;
        }
    }

    &_close {
        @include button;
        position: absolute;
        padding: 0;
        width: 120px;
        height: 30px;
        bottom: 15px;
        outline: none;
        appearance: none;
        font-weight: bold;
    }
}
