.user_box {
    margin-left: auto;
    display: flex;
    align-self: center;
    i {
        color: $whiteText;
        padding-right: 10px;
    }
    .profile_btn {
        display: flex;
        cursor: pointer;
        p {
            padding: 0 5px 0 0;
            margin: 0;
            color: $whiteText;
        }
    }
    span {
        padding: 0 5px;
        color: $whiteText;
    }
    a:hover {
        color: $linkBlue;
    }
}
