.content {
    padding: 50px 20px 100px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.env {
    align-self: center;
    margin-left: auto;
    .update_env_button {
        @include button;
    }
    #environment-select {
        background-color: $greyBlack;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: $whiteText;
        font-size: 16px;
        padding: 8px;
        width: 180px;

        &:focus {
            outline: none;
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
        }
        option {
            background-color: #fff;
            color: #333;
        }
    }
    @media (max-width: 574px) {
        width: 100%;
        margin: 0;
        margin-right: auto;
        padding-bottom: 20px;
    }
}
