.passwordChange {
    h1 {
        color: $whiteText;
        text-align: center;
    }
    &_form fieldset {
        align-items: baseline;
    }
    &_button {
        @include button;
        grid-column: 1/3;
        grid-row: 5;
    }
}
